<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Wish: componente</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action="/componente/add" method="POST">
		<p>
			<font color="red"></font>
		</p>
		<table>
			<tr>
				<td><label for="descrizione">Descrizione</label></td>
				<td><input id="descrizione" name="descrizione" type="text" /></td>
			</tr>
			<tr>
				<td><label for="costoUnitario">Costo Unitario</label></td>
				<td><input id="costoUnitario" name="costoUnitario" type="text" /></td>
			</tr>
			<tr>
				<td><label for="quantita">Quantita'</label></td>
				<td><input id="quantita" name="quantita" type="text" /></td>
			</tr>
		</table>
		<input type="submit" value="aggiungi"/>
		<input type="submit" value = "cerca" formaction = "/rapporto/find" formmethod = "GET"/>
	</form>

	<table>
		<thead>
			
				<tr>
					<th>Descrizione</th>
					<th>Costo Unitario</th>
					<th>Quantita'</th>
					<th>Costo Totale</th>
				</tr>
			
		</thead>
		<tbody>
			<tr th:if="${componente != null}">
				<td><span th:text="${componente.descrizione}"> Descrizione: </span></td>
				<td><span th:text="${componente.costoUnitario}"> Costo Unitario: </span></td>
				<td><span th:text="${componente.quantita}"> Quantita': </span></td>
				<td><span th:text="${componente.costoTot}"> Costo Totale: </span></td>
			</tr>
			
		</tbody>
	</table>
	<br><br>
	<table>
		<thead>
			<tr>
				<th>Descrizione</th>
				<th>Costo Unitario</th>
				<th>Quantita'</th>
				<th>Costo Totale</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${componeti != null && componenti.empty}">
				<td colspan="2">Nessun Componente Trovato</td>
			</tr>
			<tr th:each="componente1 : ${componenti}">
				<td><span th:text="${componente1.descrizione}"> Descrizione: </span></td>
				<td><span th:text="${componente1.costoUnitario}"> Costo Unitario: </span></td>
				<td><span th:text="${componente1.quantita}"> Quantita': </span></td>
				<td><span th:text="${componente1.costoTot}"> Costo Totale: </span></td>
			</tr>
			
		</tbody>
	</table>
</body>
</html>