<!DOCTYPE html>
<!-- schedaCliente.html -->
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cliente</title>
</head>
<body>
<br>
	<h2 th:text="'Cliente: ' + ${cliente.denominazione}">Cliente</h2>
	<p th:text="'Indirizzo: ' + ${cliente.indirizzo}" />
	<p th:text="'Localita: ' + ${cliente.localita}" />
	<p th:text="'CAP: ' + ${cliente.cap}" />
	<p th:text="'Citta: ' + ${cliente.citta}" />
	<p th:text="'Partita IVA: ' + ${cliente.partitaIva}" />
	<br>
	<form action="/rapporto/find" method = "POST">
			<input type="hidden" id="idCliente" name="idCliente" th:value="${cliente.id}">
			<input type="hidden" id="anno" name="anno" value="0">
			<input type="hidden" id="mese" name="mese" value="0">
			<input type="hidden" id="costoMin" name="costoMin" value="min">
			<input type="hidden" id="costoMax" name="costoMax" value="max">
		<input type="submit" value="visualizza rapporti"/>
	</form>
	<br>
	<p>Torna alla home <a href="/">qui</a></p>
</body>
</html>