<!DOCTYPE html>
<!-- tecnicoTrovato.html -->
<html>
<head>
<meta charset="ISO-8859-1">
<title>Tecnico</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Nome</th>
				<th>Cognome</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${tecnic == null}">
				<td colspan="2">Nessun Tecnico Trovato</td>
			</tr>
			<tr >
				<td><span th:text="${tecnico.nome}"> Nome: </span></td>
				<td><span th:text="${tecnico.cognome}"> Cognome: </span></td>
			</tr>
			
		</tbody>
	</table>
	<p>Torna alla home <a href="/index.html">qui</a></p>
</body>
</html>