<!DOCTYPE HTML>
<!-- tecnico.html -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Wish: Tecnico</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action="/tecnico/add" method="POST">
		<p>
			<font color="red"></font>
		</p>
		<table>
			<tr>
				<td><label for="nome">Nome</label></td>
				<td><input id="nome" name="nome" type="text" /></td>
			</tr>
			<tr>
				<td><label for="cognome">Cognome</label></td>
				<td><input id="cognome" name="cognome" type="text" /></td>
			</tr>
		</table>
		<input type="submit" value="aggiungi"/>
		<input type="submit" value = "cerca" formaction = "/tecnico/find" formmethod = "GET"/>
	</form>
	
	<p>Torna alla home <a href="/">qui</a></p>
	
</body>
</html>