<!DOCTYPE html>
<!-- userIndex.html -->
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<p>//TODO Visualizza i Rapporti <a href="/rapporto/all">qui</a></p>
    <p>Visualizza i Tecnici <a href="/tecnico/all">qui</a></p>
    <p>//TODO Visualizza i Clienti <a href="/cliente/all">qui</a></p>
    
	<p>Torna alla home <a href="/">qui</a></p>
	<form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
</body>
</html>